<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <title>{% block title %}Welcome{% endblock %} - WWU Data Science Club</title>
</head>
<body>
  <header>
    <h1>WWU Data Science Club</h1>
    <nav>
      <ul class="nav navbar-nav">
            <li{% if this._path == '/' %} class="active"{% endif %}>
                <a href="{{ '/'|url }}">Home</a>
            </li>
            {% for path, label in bag('nav').items() %}
            <li{% if this.is_child_of(path) %} class="active"{% endif %}>
                <a href="{{ path|url }}">{{ label }}</a>
            </li>
            {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2023 by wwu data science club.
  </footer>
</body>
